<html>
<head>
<title>Degallimaufry - <%= @monument.nid_id %> (check)</title>
</head>
<body>
<div id="message"><%= session[:notice] %></div>
<h1>Nid_id: <%= @monument.nid_id %> (check)</h1>
<form name="review" action="/" method="POST">
<input type="hidden" name="nid_id" value="<%= params[:nid_id] %>">
<h3>Nazwa:</h3>
<input type="text" name="name" value="<%= params[:name] %>">
<h3>Adres:</h3>
<input type="text" name="address" value="<%= params[:address] %>">
<h3>Data powstania:</h3>
<input type="text" name="date" value="<%= params[:date] %>"><br/>
<input type="submit">
</form>
</body>
</html>