<html>
<head>
<title>Degallimaufry - <%= @monument.nid_id %></title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<style>
body {
    width: 960px;
    margin: 0px auto;
    background-color: #eee;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 2em;
}

input {
  padding: 5px;
  border-radius: 5px;
}
</style>
</head>
<body>
<script>
jQuery(document).ready(function(){
    jQuery('input[type=radio]').click(function(){
//Łapiemy wszystkie spany stojące obok radiobuttonów odpowiadających za pewne pole i wsadzamy do nich text równy value
        $('label.'+$(this).attr('name')).css('display', 'inline');
//Łapiemy span z id równym value zaznaczonego buttona i wsadzamy do niego input text z value, name powinno być równe name radiobuttona z obciętym "_b", czyli np. "date_b" -> "date"     
        $('label.'+$(this).attr('id')).css('display', 'none');
        $('input[type=text][name='+$(this).attr('name').substr(0, $(this).attr('name').length-2)+']').detach();
        inputField = "<input type=\"text\" name=\""+$(this).attr('name').substr(0, $(this).attr('name').length-2)+"\" value=\""+$(this).attr('value')+"\">"
        $('span.'+$(this).attr('id')).append(inputField);
//Sprawdzamy czy istnieje input[type=text] dla name, address i date i jeśli tak to usuwamy z submit disabled
        if( $('input[name="name"]').length > 0 && $('input[name="date"]').length > 0 && $('input[name="address"]').length > 0 ){
           $('#submit').removeAttr('disabled'); 
        }
    });
    if( $('input[name="name"]').length > 0 && $('input[name="date"]').length > 0 && $('input[name="address"]').length > 0 ){
        $('#submit').removeAttr('disabled');
    }
});

</script>
<div id="alert"><%= session[:alert] %></div>
<div id="notice"><%= session[:notice] %></div>
<h1>Nid_id: <%= @monument.nid_id %></h1>
<form name="review" action="/" method="POST">
<input type="hidden" name="nid_id" value="<%= @monument.nid_id %>">
<h3>Nazwa:</h3>
<% @names.each do |name| %>
  <% if @names.size == 1 %>
  <input type="radio" name="name_b" id="name<%= name.to_s.slice(9, 7) %>" value="<%= name.value %>" checked disabled><span class="name_b"><input type="text" name="name" value="<%= name.value %>"></span> (Historia: <%= name.actions %>, <%= name.points %> punktów)</br>
  <% elsif name == @names[0] && @names[0].points > @names[1].points+1 %>
  <input type="radio" name="name_b" id="name<%= name.to_s.slice(9, 7) %>" value="<%= name.value %>" checked><span class="name_b name<%= name.to_s.slice(9, 7) %>"><label class="name_b name<%= name.to_s.slice(9, 7) %>" for="name<%= name.to_s.slice(9, 7) %>" style="display:none;"><%= name.value %></label> <input type="text" name="name" value="<%= name.value %>"></span> (Historia: <%= name.actions %>, <%= name.points %> punktów)</br>
  <% else %>
  <input type="radio" name="name_b" id="name<%= name.to_s.slice(9, 7) %>" value="<%= name.value %>" ><span class="name_b name<%= name.to_s.slice(9, 7) %>"><label class="name_b name<%= name.to_s.slice(9, 7) %>" for="name<%= name.to_s.slice(9, 7) %>"><%= name.value %></label></span> (Historia: <%= name.actions %>, <%= name.points %> punktów)</br>
  <% end %>
<% end %>
<% if @names.size == 0 %>
<input type="hidden" name="name" value="">
<% end %>
<h3>Adres:</h3>
<% @addresses.each do |address| %>
  <% if @addresses.size == 1 %>
  <input type="radio" name="address_b" id="address<%= address.to_s.slice(12, 7) %>" value="<%= address.value %>" checked disabled><span class="address_b"><input type="text" name="address" value="<%= address.value %>"></span> (Historia: <%= address.actions %>, <%= address.points %> punktów)</br>
  <% elsif address == @addresses[0] && @addresses[0].points > @addresses[1].points+1 %>
  <input type="radio" name="address_b" id="address<%= address.to_s.slice(12, 7) %>" value="<%= address.value %>" checked><span class="address_b address<%= address.to_s.slice(12, 7) %>"><label class="address_b address<%= address.to_s.slice(12, 7) %>" for="address<%= address.to_s.slice(12, 7) %>" style="display:none;"><%= address.value %></label> <input type="text" name="address" value="<%= address.value %>"></span> (Historia: <%= address.actions %>, <%= address.points %> punktów)</br>
  <% else %>
  <input type="radio" name="address_b" id="address<%= address.to_s.slice(12, 7) %>" value="<%= address.value %>" ><span class="address_b address<%= address.to_s.slice(12, 7) %>"><label class="address_b address<%= address.to_s.slice(12, 7) %>" for="address<%= address.to_s.slice(12, 7) %>"><%= address.value %></label></span> (Historia: <%= address.actions %>, <%= address.points %> punktów)</br>
  <% end %>
<% end %>
<% if @addresses.size == 0 %>
<input type="hidden" name="address" value="">
<% end %>
<h3>Data:</h3>
<% @dates.each do |date| %>
  <% if @dates.size == 1 %>
  <input type="radio" name="date_b" id="date<%= date.to_s.slice(14, 7) %>" value="<%= date.value %>" checked disabled><span class="date_b"><input type="text" name="date" value="<%= date.value %>"></span> (Historia: <%= date.actions %>, <%= date.points %> punktów)</br>
  <% elsif date == @dates[0] && @dates[0].points > @dates[1].points+1 %>
  <input type="radio" name="date_b" id="date<%= date.to_s.slice(14, 7) %>" value="<%= date.value %>" checked><span class="date_b date<%= date.to_s.slice(14, 7) %>"><label class="date_b date<%= date.to_s.slice(14, 7) %>" for="date<%= date.to_s.slice(14, 7) %>" style="display:none;"><%= date.value %></label> <input type="text" name="date" value="<%= date.value %>"></span> (Historia: <%= date.actions %>, <%= date.points %> punktów)</br>
  <% else %>
  <input type="radio" name="date_b" id="date<%= date.to_s.slice(14, 7) %>" value="<%= date.value %>" ><span class="date_b date<%= date.to_s.slice(14, 7) %>"><label class="date_b date<%= date.to_s.slice(14, 7) %>" for="date<%= date.to_s.slice(14, 7) %>"><%= date.value %></label></span> (Historia: <%= date.actions %>, <%= date.points %> punktów)</br>
  <% end %>
<% end %>
<% if @dates.size == 0 %>
<input type="hidden" name="date" value="">
<% end %>
<h3>Kategorie:</h3>
<% @categories.each do |category| %>
  <% if category.points == @categories[0].points %>
  <label><input type="checkbox" name="categories[]" id="<%= category.value %>" value="<%= category.value %>" checked><%= category.value %></label> (<%= category.points %>)
  <% else %>
  <label><input type="checkbox" name="categories[]" id="<%= category.value %>" value="<%= category.value %>"><%= category.value %></label> (<%= category.points %>)
  <% end %>
<% end %>

<input type="submit" value="Zapisz i dawaj dalej!" id="submit" <% if @names.size > 1 || @dates.size > 1 || @addresses.size > 1 %>disabled<% end %>>
</form>
</body>
</html>